/* ================ CUSTOM NDE ================ */

/*
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*/

/* --------------------------------
	HOMEPAGE MENU + CONTAINER
-------------------------------- */

.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple) {
	background-color: #e4e2df !important;
}

.container .custom-search-bar-container .background-overlay {
	background-color: #5f5e5c !important;
}

/* .search_box_container:focus-within, */
.search-bar-container .search-bar-wrapper:focus-within {
  border:1px solid #5f5e5c !important;
}

/*
.results-container.filters-slide-open {  
  z-index: 1000;
}
*/

/* -------------------------------------------
	HOMEPAGE - custom-search-bar-container
------------------------------------------- */

.custom-search-bar-container h1 {
  font-family: 'Mulish', sans-serif;
}

.search_box_container {
  font-family: 'Noto Sans Display', sans-serif !important;
}

/* --------------------------------
		    CONTENT
-------------------------------- */

nde-record-availability .light-text {
	font-weight: 500 !important;
}

nde-record-availability .available-at-button[aria-label*="Emprunté"] span,
nde-record-availability .available-at-button[aria-label*="Non disponible"] span {
  color: #5f5e5c;
}

.mat-icon[data-mat-icon-name="HTML"] svg path {
	fill: #b32b00;
}

/* Display Constants Labels (full display) + collection path detail label */
nde-full-display-details.ng-star-inserted {
    font-size: 14px;
}

.details-label {
	font-weight: 500 !important;
}

nde-full-display-details .flex-layout-center {
    all: revert;
}

/*
nde-highlight span {
    flex-shrink: 1;
}
*/

/* Gap de sous-sélection dans Collection Discovery */
.collection-header {
    gap: .4rem !important;
}

/* Décallage texte/cadre top sur Carousel Card Image */
.carousel-card .mat-mdc-card-header img {
    top: 60% !important;
}

/* Emplacements pour les titres liés */
.related-titles-list div h4,
.related-titles-list .flex-column.gap-1 > span {
  display: none;
}

/* Bloc "Aucun résultat" */
nde-search-no-results .we-suggest-container {
visibility: hidden;
}

/* expand-results-options-line */
div:has(> button[aria-controls="expand-results-options-line"]) {
display: none;
}

/* --------------------------------
		Authentification
-------------------------------- */

/* Hide login link */
.authentication-method-wrapper .authentication-method-btn:has(button[aria-label*="Université de Montpellier Paul-Valéry"]) {
  display: none;   
}

.authentication-method-wrapper .authentication-method-btn:has(button[aria-label$="Université de Montpellier "]) {
  display: none;   
}

.authentication-method-wrapper .authentication-method-btn:has(button[aria-label*="ENSAM"]) {
  display: none;   
}

/* --------------------------------
		Advanced Search
-------------------------------- */
mat-option[data-qa="search-advanced.scope.option.nui.advanced.index.mms_id"] {
display: none; 
}

mat-option[data-qa="search-advanced.scope.option.nui.advanced.index.ocolc"] {
display: none; 
}

/* --------------------------------
		Database search
-------------------------------- */

.database-homepage-container .description-container ul.category-list .category-list-item::marker {
  color: transparent;
  font-size: 0;
}

/* --------------------------------
		        MENU 
-------------------------------- */

nde-logo {
	display: none !important;
/*
    align-items: center;
	justify-content: center;
	position: relative;
	top: -1rem; 
    max-height: 1.5rem;
	*/
}

.top-bar.flex-column.header {
    height: 2rem;
}

.flex-row.flex-layout-end-center.user-panel {
    position: relative;
    top: -1rem;
}

.mat-mdc-tooltip-trigger.flex-row.flex-layout-center-center {
	align-items: center;
	justify-content: center;
	position: relative;
	top: -1rem; 
}


.main-menu-container .mdc-button { 
	/*  
    color: var(--sys-on-background) !important;
	text-decoration: none !important; 
	*/
	color: #434341 !important;
	position: relative;
	top: -1rem;    
}

/*
nde-main-menu .mat-mdc-button .mdc-button__label {	
	display: flex;
	padding: .75rem;
	border: .0625rem solid var(--sys-primary);
	border-color: var(--sys-outline-variant);
	border-radius: 1rem;
	align-items: center;
	flex-direction: column;
	justify-content: center;	
	text-decoration: none !important;
	height: 0%;
	transition: background-color 0.2s ease;	
}
*/

/*
nde-main-menu .mat-mdc-button .mdc-button__label:hover {
	 background-color: var(--lightBG);
    text-decoration: none !important;
  }
*/	

nde-main-menu .mat-divider.mat-divider-vertical {
    /* display: none !important; */
	position: relative;
	top: -1rem;
}

.main-menu-mobile-btn {
	position: relative;
    top: -1rem;
}

/* --------------------------------
		        ISTEX
-------------------------------- */

nde-record-availability-after {
  position: relative;
}

.responsive-availability-layout {
  display: flex;
  align-items: center;
  width: 100%;
}

/* --------------------------------
			@media
-------------------------------- */

@media (max-width: 768px) {
  .getit-location-card .height-100 .mdc-button__label {
    display: none;
  }

  .getit-location-card .height-100 {
    flex-shrink: 0;
    width: auto;
  }
}